<h1>Bookmark a recipe</h1>
<%= simple_form_for [@category, @bookmark] do |f| %>
  <%= f.input :comment %>
<!--  <%= f.input :recipe, collection: @recipes, value_method: :id, text_method: :name, include_blank: false %>
 <%= f.association :recipe %>

<!-- should these be replaced with recipe and name -->
  <%= f.button :submit %>
<% end %>
<p><%= link_to "Back", category_path(@category) %></p>
